body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  margin: 0;
}

button {
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

input {
  border-radius: 10px;
  border: none;
  padding: 0 10px;
}

.header {
  background-color: aqua;
  text-align: center;
  padding: 20px;
}

.sidebar {
  background-color: rgb(255, 122, 122);
  height: 600px;
  padding: 50px;
  min-width: 225px;
}

.main {
  display: flex;
}

.right {
  padding: 50px;
}

#project-list div,
#todo-list div {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 700;
  transition: 1s;
  cursor: pointer;
}

#todo-list div {
  border: solid thick black;
  margin-bottom: 10px;
}

#project-list div:hover {
  background-color: azure;
  transform: scale(1.1);
}

.input-bar {
  display: flex;
  gap: 15px;
  justify-content: center;
}